/*
    Jb Lumawig Masadao
    9/23/25
    AboutACompany
    style.css

    .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    */

#logo{
    width: 40%;
}

section {
    text-align: center;
}
.floater {
    float: right;
    border-style: solid;
    border-color: #05445e;
    width:400px;
}

.topnav {
    background-color: #05445e;
    overflow: hidden;
    width: 100%;
    border-style: solid;
    border-color: #189ab4;
}

.container {
    background-color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
}

.flex {
    display:flex;
}

.moot {
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}

.border {
    border-color: #555;
    border-style: solid;
}
.sticky {
    position: sticky;
    top: 0;
    margin-top: 1%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #d4f1f4;
}

.bodytext {
    text-align: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: #05445e;
}

.topnav a.active {
    background-color: #d4f1f4;
    color: black;
}

footer {
    background-color: #4d4d4d;
    color: azure;
    padding: 1%;
}

footer a{
    color: #75e6da;
    text-decoration: none;
}
footer a:hover {
    background-color: #ddd;
    color: #05445e;
}

footer a.active {
    background-color: #d4f1f4;
    color: black;
}