/*
    Jb Lumawig Masadao
    9/10/25
    Pretty About You
    style.css
*/

body {
    background-color: black;
}

nav {
    background-color: rgb(0, 0, 97);
}

main {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    background-color: antiquewhite;
}

li {
    text-align: left;
}

footer {
    background-color: rgb(87, 87, 87);
    color: blanchedalmond;
}

a {
    color: aqua;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

a:hover {
    color: white;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

a:visited {
    color: greenyellow;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

a:visited:hover {
    color: yellow;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

#subsect {
    margin: 10px;
    padding: 5px;
    background-color: darkgray;
}
.subsect-group {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 10px;
    padding: 5px;
}
#subsect > p, #subsect > li {
    text-align: left;
}